@charset "utf-8";

/* Structural Styles */


 body {
    background-color: darkblue;
    font-family: sans-serif; 
    color: black;
    font-size: 22px;
    width: 85%;
    margin: auto;
 }

 header {
    background-color: lavender;
 }

 img {
     border-radius: 8px;
     width: 25%;
 }
 
 header h1 {
    background-color: lavender;
    font-size: 48px;		  
    margin: 35px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
 }

 header h3 {
    background-color: lavender;
    font-size: 32px;
    margin: 0px;
    padding: 0px 0px 15px 15px;
 }


h1 {
    font-family: Arial;
    margin: 0px;
    font-size: 30px;
    color: darkred;
    padding: 15px 0px 0px 15px;
    text-align: left;
    letter-spacing: 2px;
}

h3 {
    font-family: Arial;
    font-size: 22px;
    text-align: left;
    color: darkslateblue;
}

p {
    margin: 15px;
    padding: 15px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: lavender;
}


table {
    border: none;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 30px;
}

nav {
    background-color: lavender;
    color: black;
    text-align: center;
    width: 25%;
    margin: 0px;
    padding: 0px;
}


section {
    background-color: lightcoral;
    width: 75%;
    padding: 15px 15px 15px 15px;

}

 footer {	
    background-color: lavender;
    font-family: Arial;
    text-align: center;			   
    padding: 30px 20px 20px 20px;
 }

 