@charset "utf-8";

/* Structural Styles */


 body {
    background-color: darkblue;
    font-family: sans-serif; 
    color: black;
    font-size: 16px;
    width: 85%;
    margin: auto;
 }

 header {
    background-color: lavender;
 }

 img {
     display: block;
     border-radius: 8px;
     margin: auto;
     float: right;
     width: 25%;
 }
 
 header h1 {
    background-color: lightgreen;
    font-size: 36px;		  
    margin: 35px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
 }

 header h3 {
    background-color: lightgreen;
    font-size: 24px;
    margin: 0px;
    padding: 0px 0px 15px 15px;
 }


h1 {
    font-family: Arial;
    margin: 0px;
    font-size: 22px;
    color: darkblue;
    padding: 15px 0px 0px 15px;
    text-align: left;
    letter-spacing: 2px;
}

h3 {
    font-family: Arial;
    font-size: 16px;
    text-align: left;
    color: darkslateblue;
}

p {
    margin: 15px;
    padding: 15px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: lavender;
}

table {
    border: none;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 30px;
}

nav {
    background-color: lightgreen;
    color: black;
    text-align: center;
    width: 25%;
    margin: 0px;
    padding: 0px;
}

li a {
    display: block;
    width: 60px;
}

section {
    background-color: lightcoral;
    width: 75%;
    text-align: right;
    padding: 15px 15px 15px 15px;
    display: inline-block;

}

th {
    background-color: gray;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: left;
    color: black;
}

 footer {	
    background-color: lavender;
    font-family: Arial;
    text-align: center;			   
    padding: 30px 20px 20px 20px;
 }

 